<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <%= image_tag @user.get_profile_image(150,150) %>
    </div>  
    <div class="col-lg-6">
      <h3><%= @user.name %></h3>
    </div> 
    <div class="col-lg-2">
      <% if @user == current_user %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
      <% end %>
    </div> 
    <div class="col-lg-2">
      <% if @user == current_user %>
        <%= link_to "退会", user_path(@user), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </div>  
  </div>

  コメント投稿一覧
  <p><% @comments.each do |comment| %></p>
    <%= comment.created_at.strftime('%Y/%m/%d') %> 
    <%= comment.comment %>
  <% end %>
</div>