<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <%= image_tag @user.get_profile_image(150,150) %>
    </div>  
    <div class="col-lg-6">
      <h3><%= @user.name %></h3>
    </div> 
    <div class="col-lg-2">
      <% if @user == current_user %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
      <% end %>
    </div> 
    <div class="col-lg-2">
      <% if @user == current_user %>
        <%= link_to "退会", user_path(@user), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </div>  
  </div>

  <div class="row">
    <div class="col-lg-7">
      イベント投稿一覧
      <% @posts.each do |post, comment| %>
        <div>
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_image, style: 'max-width: 500px; max-height: 900px;' %>
          <% end %>
          <p>イベント名：<%= post.title %></p>
          <p>説明：<%= post.body %></p>
          <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
        </div>
      <% end %>
    </div>
    <div class="col-lg-5">
      コメント投稿一覧
      <p><% @posts.each do |comment| %></p>
        <%= comment.created_at.strftime('%Y/%m/%d') %> 
        <%= comment.comments %>
      <% end %>
    </div>
  </div>  
</div>