<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="text-center">
        <h1>
          <p><%= @post.title %></p>
        </h1>
        <%= image_tag @post.get_image, style: 'max-width: 500px; max-height: 900px;' %>
        <h2>
          <p><%= @post.body %></p>
        </h2>
        
        <p>掲載日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
        <%= link_to "編集", edit_admin_post_path(@post.id), class: "btn btn-primary" %> | 
        <%= link_to "削除", admin_post_path(@post), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
      </div>
    </div>
    
    <div class="col-lg-4">
      
        <div class="text-center">
          <p>コメント件数：<%= @comments.count %></p>
          <div class="card w-auto mx-auto mt-4 shadow-lg">
            <% @comments.each do |comment| %>
              <p><%= image_tag comment.user.get_profile_image(100,100) %>
              <%= link_to comment.user.name, admin_user_path(comment.user) %></p>  
              <p><%= comment.comment %></p>            
              <p><%= comment.created_at.strftime('%Y/%m/%d') %>
              
              
              
              <%= link_to "削除", admin_comment_path(comment.post, comment), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %></p>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="text-center">
    <%= link_to "一覧へ", admin_posts_path %>
  </div>  
</div>  