<div class="text-center">
  <h1>イベント一覧</h1>
</div>


  <% @posts.each do |post| %>
  <div class="card w-50 mx-auto mb-5 shadow-lg">

    <div class="card-body">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-10">
          <h2>
            <p class="card-title">
              <%= link_to(post_path(post.id), class: "text-dark") do %>
                <strong><i class="far fa-flag"></i><span> <%= post.title %></span></strong>
              <% end %>
            </p>
          </h2> 
        </div>
      </div>
    </div>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image, class: "card-img-top", style: "max-width: auto; max-height: 800px;" %>
    <% end %>
    <div class="text-center">
      <p>掲載日：<%= post.created_at.strftime('%Y/%m/%d') %></p>
      <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
    </div>
  </div>
  <% end %>
</div>