<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="text-center">
        <h1>
          <p><%= @post.title %></p>
        </h1>
        <%= image_tag @post.get_image, style: 'max-width: 500px; max-height: 900px;' %>
        <h2>
          <p><%= @post.body %></p>
        </h2>
        
        <p>掲載日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
        <p>ユーザーネーム：<%= @post.user.name %></p>
        <% if @post.user == current_user %>
          <%= link_to "編集", edit_post_path(@post.id) %>
          |
        <% end %>
        <% if @post.user == current_user %>
          <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        <% end %>
      </div>
    </div>
    
    <div class="col-lg-4">
      
        <div class="text-center">
          <p>コメント件数：<%= @post.comments.count %></p>
          <div class="card w-auto mx-auto mt-4 shadow-lg">
          
            <% @post.comments.each do |comment| %>
              <p><%= comment.user.name %></p>
              <p><%= comment.comment %></p>
              投稿日   <%= comment.created_at.strftime('%Y/%m/%d') %>
              <% if comment.user == current_user %>
                <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
              <% end %>
            <% end %>
        </div>
      </div>
      <div class="text-center">
        <%= form_with model: [@post, @comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <p><%= f.submit "送信する" %></p>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="text-center">
    <%= link_to "一覧へ", posts_path %>
  </div>  
</div>  